{{#if addNewContact}}
  <div class="contact-form">
    <h1>Contact Us</h1>
     <form>
       <div class="form-group">
         <label for="first">First Name</label>
         {{input value=first id="first"}}
       </div>

       <div class="form-group">
         <label for="last">Last Name</label>
         {{input value=last id="last"}}
       </div>

       <div class="form-group">
         <label for="email">Email Address</label>
         {{input value=email id="email"}}
       </div>

       <div class="form-group">
          <label for="description" class="description">Description</label>
          <br>
          {{textarea rows="5" class="form-control" value=description id="description"}}
       </div>

       <button {{action 'save1'}}>Save</button>
     </form>
   </div>
{{else}}
    <button {{action 'contactFormShow'}}>Contact Us</button>
{{/if}}
