<div class="siteHeader">
  <div class="container">
    {{#link-to 'index'}}
      <img id="logo" src="/img/logo.png" alt="pARTicipate Logo" />
    {{/link-to}}
    <button id="menu-btn" {{action 'menuPressed'}}>
      <div class="navIcon">
        <div class="iconbar"></div>
        <div class="iconbar"></div>
        <div class="iconbar"></div>
      </div>
    </button>
  </div>
</div>
<nav class="mainNav-closed" id="mainNav">
  <p class="closing-X" {{action 'closeMenu'}}>X</p>
  <div class="nav-list">
    <h2 {{action 'itemClicked'}}>{{#link-to 'upcoming-projects'}}Upcoming Projects{{/link-to}}</h2>
    <h2 {{action 'itemClicked'}}>{{#link-to 'completed-projects'}}Completed Projects{{/link-to}}</h2>
    <h2 {{action 'itemClicked'}}>{{#link-to 'about'}}About{{/link-to}}</h2>
    <h2 {{action 'itemClicked'}}>{{#link-to 'contact'}}Contact Us{{/link-to}}</h2>

  </div>
</nav>
