{{#if addNewProject}}
  <h1>New Project</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Project Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="host">Host Name</label>
        {{input value=host id="host"}}
      </div>

      <div class="form-group">
        <label for="date">Project Date</label>
        {{input value=date id="date"}}
      </div>

      <div class="form-group">
        <label for="time">Project Time</label>
        {{input value=time id="time"}}
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        {{input value=location id="location"}}
      </div>

      <div class="form-group">
        <label for="contributor">Number of Contributors Needed</label>
        {{input value=contributor id="contributor"}}
      </div>

      <div class="form-group">
        <label for="summary">Provide a Project Summary and Any Important Details</label>
        {{input value=summary id="summary"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>
      <button {{action 'save'}}>Save</button>
      <button {{action 'cancelNewProjectForm'}}>Cancel</button>
    </form>
  </div>
{{else}}
  <button class="secondaryBtn"{{action 'projectFormShow'}}>New Project</button>
{{/if}}
