{{#if addNewProject}}
<div class="newProjectForm">
  <h1>New Project</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Project Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="host">Host Name</label>
        {{input value=host id="host"}}
      </div>

      <div class="form-group">
        <label for="date">Project Date</label>
        {{input value=date id="date"}}
      </div>

      <div class="form-group">
        <label for="time">Project Time</label>
        {{input value=time id="time"}}
      </div>

      <div class="form-group">
        <label for="latitude">Location latitude</label>
        {{input value=latitude id="latitude"}}
      </div>

      <div class="form-group">
        <label for="longitude">Location longitude</label>
        {{input value=longitude id="longitude"}}
      </div>

      <div class="form-group">
        <label for="contributor">Number of Contributors Needed</label>
        {{input value=contributor id="contributor"}}
      </div>

      <div class="form-group">
        <label for="summary">Provide a Project Summary and Any Important Details</label>
        <br>
        {{textarea rows="5" value=summary id="summary"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>
      <button class="save secondaryBtn" {{action 'save'}}>Save</button>
      <button class="cancel" {{action 'cancelNewProjectForm'}}>Cancel</button>
    </form>
  </div>
</div>
{{else}}
  <button class="secondaryBtnPink"{{action 'projectFormShow'}}>New Project</button>
{{/if}}
