<!-- {{yield}} -->
<div class="projectPage">
  <h1><strong>{{project.title}}</strong></h1>
  <h4>{{project.host_name}}</h4>
  <h3>{{project.date}}</h3>
  <h3>{{project.time}}</h3>
  <h3>{{project.location}}</h3>
  <h3>We need {{project.contributor}} people</h3>
  <h3>{{project.summary}}</h3>
  <h3><img src="{{project.image}}" alt="{{project.title}}" /></h3>
</div>
