<!-- {{yield}} -->
<div class="projectTile" style="background-image: linear-gradient(rgba(247, 247, 247, 0.6),rgba(247, 247, 247, 0.6)),url({{project.image}});; background-size: cover; background-position: center;">
  <h2>{{project.title}}</h2>
  <!-- <img src="{{project.image}}" alt="{{project.title}}"> -->
</div>
