{{outlet}}
<div class="container">
  <br>
  {{new-project save="save"}}
  <div class="projectFeed">
    <!-- {{display-favorites}} -->
    <ul>
      {{#each model.project as |project|}}
        {{project-tile project=project destroyProject="destroyProject"}}
        <!-- <button {{action 'addToFavorites' restaurant}}>Favorite</button> -->
      {{/each}}
    </ul>
  </div>
</div>
